<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="InterventionalCostings.Properties.mySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="InterventionalCostings.Properties.Settings.InventoryConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Inventory.mdf;Integrated Security=True;Connect Timeout=30;Encrypt=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <InterventionalCostings.Properties.mySettings>
            <setting name="OrdererEmail" serializeAs="String">
                <value>someone@nhs.net</value>
            </setting>
            <setting name="SmtpServerAddress" serializeAs="String">
                <value>SEND.NHS.NET</value>
            </setting>
            <setting name="SmtpServerPortNumber" serializeAs="String">
                <value>587</value>
            </setting>
            <setting name="ImapServerAddress" serializeAs="String">
                <value>IMAP.NHS.NET</value>
            </setting>
            <setting name="ImapServerPortNumber" serializeAs="String">
                <value>993</value>
            </setting>
        </InterventionalCostings.Properties.mySettings>
    </userSettings>
</configuration>
